* {
  margin: 0;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
  user-select: none;
}

#app {
  height: 100vh;
  /* grid container settings */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "header"
    "main";
}

#app > Header {
  /* z-index to make sure the shadows overlap the content of the main area */
  z-index: 999;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px;
  background: rgb(255, 255, 255);
}

#app > main {
  grid-area: main;
  overflow: auto;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "cards"
    "footer";
}

#app > main > section {
  grid-area: cards;
  display: grid;
  grid-template-columns: 1fr minmax(0, 800px) 1fr;
  padding: 15px 15px;
}

#app > main > footer {
  grid-area: footer;
  font-size: 0.8rem;
  text-align: center;
  padding: 15px 15px;
}

.material-icons {
  font-size: 20pt;
  align-self: center;
  cursor: pointer;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

summary {
  outline: none;
}

.number {
  font-family: "Lato", sans-serif;
}

.posColor {
  color: "#1B998B";
}

.negColor {
  color: "#FF4560";
}

label {
  display: block;
}

input {
  font-size: 0.9rem;
}

label,
input,
select {
  margin: 0.2rem 0 0.1rem 0;
  padding: 0.1rem 0;
}

fieldset {
  margin: 12px 6px 24px 0;
  padding: 0.8rem;
  vertical-align: top;
  background-color: #fbfbfb;
  border: 2px solid;
  border-radius: 5px;
  box-shadow: 6px 6px #bd93f9;
}

legend {
  font-weight: bold;
}

details {
  margin: 12px 0;
}

summary {
  margin: 12px 0;
}

button {
  text-decoration: none;
  cursor: pointer;
  padding: 0.45em 0.8em;
  margin: 0.3em;
  font-size: 0.9rem;
  background-color: #dddddd;
  border: 2px solid #bd93f9;
  border-radius: 0.3em;
}

p {
  margin: 10px 0;
}

@media all and (max-width: 30em) {
  html {
    font-size: 1.1rem;
  }
}
