* {
  margin: 0;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
  user-select: none;
}

.container {
  padding: 12px 8px;
  display: flex;
  max-width: 810px;
  margin: 0 auto;
  flex-grow: 1;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

summary {
  outline: none;
}

.number {
  font-family: "Lato", sans-serif;
}

.posColor {
  color: "#1B998B";
}

.negColor {
  color: "#FF4560";
}

label {
  display: block;
}

input {
  font-size: 0.9rem;
}

label,
input,
select {
  margin: 0.2rem 0 0.1rem 0;
  padding: 0.1rem 0;
}

fieldset {
  margin: 0.8rem 0;
  padding: 0.8rem;
  vertical-align: top;
  background-color: #fbfbfb;
}

legend {
  font-weight: bold;
}

details,
summary {
  margin: 0.8rem 0;
}

button {
  text-decoration: none;
  cursor: pointer;
  padding: 0.45em 0.8em;
  margin: 0.3em;
  font-size: 0.9rem;
  background-color: #dddddd;
  border: 2px solid #bd93f9;
  border-radius: 0.3em;
}

p {
  margin: 10px 0;
}

@media all and (max-width: 30em) {
  html {
    font-size: 1.1rem;
  }
}
