* {
  margin: 0;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
}

main {
  display: flex;
  justify-content: start;
  max-width: 80ch;
  margin: 0 auto;
}

.container {
  flex-grow: 1;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  color: blue;
}

summary {
  outline: none;
}

.number {
  font-family: "Lato", sans-serif;
  display: inline-block;
}

.noselect {
  user-select: none;
}

.posColor {
  color: "#1B998B";
}

.negColor {
  color: "#FF4560";
}

.numberFont {
  font-family: "Lato", sans-serif;
}

.handFont {
  font-family: "Indie Flower", cursive;
}

label {
  display: block;
}

input {
  font-size: 0.9rem;
}

label,
input,
select {
  margin: 0.2rem 0 0.1rem 0;
  padding: 0.1rem 0;
}

fieldset {
  margin: 0.8rem 0;
  padding: 0.8rem;
  vertical-align: top;
  background-color: #fbfbfb;
}

legend {
  font-weight: bold;
}

details,
summary {
  margin: 0.8rem 0;
}

button {
  text-decoration: none;
  cursor: pointer;
  padding: 0.45em 0.8em;
  margin: 0.3em;
  font-size: 0.9rem;
  background-color: #dddddd;
  border: 0.15em solid blue;
  border-radius: 0.3em;
}

dialog {
  text-align: center;
  border: none;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.25);
  max-width: 300px;
  margin: auto;
}

p {
  margin: 10px 0;
}

@media all and (max-width: 30em) {
  html {
    font-size: 1.1rem;
  }

  main {
    display: grid;
    place-content: start;
  }
}
